div(class="choose-best create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="section-tittle pt-25")
        div(class="text-center")
          h6 ✨ Hybrid Camp includes the free Hybrid Campus!
          p
            span(class="do-links do-btn")
              a(href="/hybrid-campus") [What's Hybrid campus?]