div(class="we-create-area create-padding pt-100")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-12")
        div(class="we-create-cap")
          h3 The Power of Play
          p
            | Throughout history, play was assigned a valuable role in human development. It was thought to be an integral part of education, character building, and social development. This is even more true today. Play has evolved, but its importance remains. Hybrid embraces play, in the digital world and the physical. Because whether you're scoring a touchdown or taking on the final boss, play is where humanity learns to thrive. 
      div(class="col-lg-5 col-md-12")
        div(class="we-create-img")
          img(src="/assets/img/svg/sparklers.svg" alt="Studients in virtual orientation")