div(class="we-create-area orientation-requirements pb-100")
  div(class="container")
    div(class="row d-flex justify-content-center")
      div(class="col-lg-5 col-md-12 pt-75")
        div(class="we-create-cap")
          h3 Requirements
          p
            strong *Camp is PC only, and all remote*
            <br> Monitoring and running camp requires that all participants are on a Windows PC with a webcam and microphone.
          h3 Dates and Times
          p 
            | Register for a week-long session, Mon-Fri. June 4 - Aug 16. 
            <br> Each session is daily, from 2pm to 4:30pm Central Time.
          h3 Pricing
          h5 
            //- strike $149 per week
          h5 $129 per week
          div(class="pt-25")
            a(target="_blank" href="https://campscui.active.com/orgs/HybridLLC?orglink=camps-registration" class="btn")
              | Let's get started!
      div(class="col-lg-5 col-md-12 we-create-cap pt-75")
        h3 Daily Schedule (CDT)
        ul(class="timeline")
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-hands-helping")
              h4 2:00-2:05: 5 minute introductions
          
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-dumbbell")
              h4 2:05-2:20: 15 minute exercise
            p(class="timeline-p") Rotating beginner-friendly guided exercise routines.

          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-heart")
              h4 2:20-2:25: 5 minute break

          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-gamepad")
              h4 2:25-3:15: Gaming with stretches
            p(class="timeline-p") Quick 1 min stretches distributed throughout.
   
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fas fa-heart")
              h4 3:15-3:20: 5 min stretch break

          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fas fa-gamepad")
              h4 3:20-4:10: Gaming with Stretches
            p(class="timeline-p") Quick 1 min stretches distributed throughout.

          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-pencil")
              h4 4:10-4:30: Journal
            p(class="timeline-p") Rotating writing prompts for self-awareness and empathy building.

        div(class="pt-25")
          a(target="_blank" href="https://campscui.active.com/orgs/HybridLLC?orglink=camps-registration" class="btn")
            | Become a Hybrid