div(class="choose-best create-padding pt-50")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="section-tittle")
        div(class="col-lg-12")
          div(class="row d-flex justify-content-center")
            div(class="col-lg-10 col-md-12")
              h3 Requirements
          div(class="row d-flex justify-content-center")
            div(class="col-lg-5 col-md-12")
              ul(class="unordered-list")
                li Camps is all online, via Discord! Discord is a free service, and requires an account to login. Students should have an account made prior to starting.
                li Quiet learning environment with no distractions
                li Consistently reliable internet connection
                li Computer with a webcam and microphone
            div(class="col-lg-5 col-md-12")
              ul(class="unordered-list")
                li OS recommendations: As a general rule, gaming is better on Windows computers. Although orientation is possible on Apple computers, we recommend Windows 7, 8, or 10 for the best experience across multiple titles.
                li 
                  | PC specification recommendations: We use the Minecraft recommendations as a baseline.
                  span(class="do-links do-btn")
                    a(target="_blank" href="https://help.minecraft.net/hc/en-us/articles/360035131371-Minecraft-Java-Edition-system-requirements-")
                      | [Click here]