
<div class="choose-best choose-padding">
  <div class="container">
      <!-- Section-tittle -->
      <div class="row d-flex justify-content-center">
          <div class="col-lg-7">
              <div class="section-tittle text-center">
                  <h2>Choose Your Very Best Pricing Plan </h2>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="single-choose text-center mb-30">
                  <div class="do-icon">
                      <span  class="flaticon-growth"></span>
                  </div>
                  <div class="do-caption">
                      <h4>$ 05.00</h4>
                      <ul>
                          <li>Increase traffic 50%</li>
                          <li>Social Media Marketing</li>
                          <li>10 Free Optimization</li>
                          <li>24/7  support</li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-choose active text-center mb-30">
                  <div class="do-icon">
                      <span class="flaticon-award"></span>
                  </div>
                  <div class="do-caption">
                      <h4>$ 20.00</h4>
                      <ul>
                          <li>Increase traffic 50%</li>
                          <li>Social Media Marketing</li>
                          <li>10 Free Optimization</li>
                          <li>24/7  support</li>
                      </ul>
                  </div>
              </div>
          </div>
            <div class="col-lg-4 col-md-6">
              <div class="single-choose text-center mb-30">
                  <div class="do-icon">
                      <span  class="flaticon-project"></span>
                  </div>
                  <div class="do-caption">
                      <h4>$ 30.00</h4>
                      <ul>
                          <li>Increase traffic 50%</li>
                          <li>Social Media Marketing</li>
                          <li>10 Free Optimization</li>
                          <li>24/7  support</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>