div(class="choose-best create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-12")
        div(class="section-tittle")
          h3 Joining is Easy
          p(class="section-caption") To become a Hybrid, just attend orientation! Here students learn the basics of what it means to be a Hybrid. They'll learn the rules and expectations of the community, meet other students, and play games alongside a Hybrid instructor.
          div(class="do-links")
            div(class="d-flex")
              div(class="do-btn")
                a(target="_blank" href="https://campscui.active.com/orgs/HybridLLC?orglink=camps-registration")
                  i(class="ti-arrow-right") 
                  | Become a member
              div(class="do-btn")
                a(href="./member-benefits")
                  i(class="ti-arrow-right") 
                  | Learn more
      div(class="col-lg-5 col-md-12")
        div(class="we-create-img")
          img(src="/assets/img/gamer copy.png" alt="")