div(class="pb-75")
    div(class="slider-area slider-area--padding d-flex align-items-center" data-background="assets/img/hero/h1_hero.png")
        div(class="container")
            div(class="row d-flex align-items-center justify-content-center")
                div(class="col-lg-6 col-md-9")
                    div(class="hero__caption")
                        h1(data-animation="fadeInLeft" data-delay=".4s") 
                            | Building Better Gamers
                    p(class="hero__p" data-animation="fadeInLeft" data-delay=".6s") 
                        p One-of-a-kind gaming community for kids ages 13-17. 
                        p Hybrid is character development and digital literacy for today's youth.
                    div(class="hero__btn" data-animation="fadeInLeft" data-delay=".8s")
                div(class="col-lg-6")
                    div(class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s")
                        img(src="assets/img/hero/hero-planets.svg" alt="")