div(class="what-we-do create-padding")
    div(class="container")
        div(class="row d-flex justify-content-center")
            div(class="col-lg-8")
                div(class="section-tittle text-center mb-30")
                    h3 Programs
        div(class="row justify-content-center")
            div(class="col-lg-4")
                div(class="single-do text-center pb-30")
                    a(class="single-do-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSctm2BW8qZNuV2K4oBssL-758h5SioTRzZbbB748czqggpkNQ/viewform?usp=send_form")
                        div(class="do-icon")
                            span(class="flaticon-campus")
                        div
                            h4 Hybrid Campus
                            p A better community for gamers. 
                            p(class="pb-10 pt-10") For gamers who want a community built for them.
                        ul(class="unordered-list")
                            li Hybrids-only
                            li All online. Open for ages 13-17
                            li Adult-monitored by background-checked staff
                            li Events, tournaments and giveaways
                            li Join a House, earn points and win House Medals (like the golden globes, but for Hybrids)
                        h4 Free!
                        div(class="do-btn")
                            i(class="ti-arrow-right") 
                            | Join Now
            div(class="col-lg-4")
                div(class="single-do text-center mb-30")
                    a(class="single-do-link" href="/hybrid-camps/")
                        div(class="do-icon")
                            span(class="flaticon-fire")
                        div
                            h4 Hybrid Camps
                            p Gaming and fitness, 5 days a week. 
                            p(class="pb-10 pt-10") For gamers who want something fun, social, and live!
                        ul(class="unordered-list")
                            li Includes Hybrid Campus
                            li All online. Open for ages 13-17
                            li One week, Monday-Friday, 3 hours per day
                            li Counselor-led gaming and fitness, live!
                            li Add structure and exercise to your day
                            li Meet new people to socialize and play with
                            li Healthy, positive role models
                        h4 $149 per week
                        h4 $129 Early Bird
                        div(class="do-btn")
                            | Early Registration Ends May 21
                   
            div(class="col-lg-4")
                div(class="single-do text-center mb-30")
                    a(class="single-do-link" href="./hybrid-envoys")
                        div(class="do-icon")
                            span(class="flaticon-medal")
                        div
                            h4 Hybrid Envoys
                            p Join a Guild. Rank Up.
                            p(class="pb-10 pt-10") For in-game leaders who want to become their best selves; online and off.
                        ul(class="unordered-list")
                            li Includes Hybrid Campus
                            li Open for ages 13-17
                            li Personal development, digital literacy and life skills
                            li Earn badges in the 6 Hybrid-defining categories
                            li Rank up to become an esteemed 'Platinum Hybrid'
                            li Join a guild and create a culture all your own
                            li Take on "Boss challenges" and win parts towards your own gaming PC
                            li Looks great on applications to colleges, internships, jobs, and gaming orgs!
                        h4 $299 per season
                        div(class="do-btn")
                            | Coming Fall 2021