div(class="what-we-do create-padding")
    div(class="container")
        div(class="row d-flex justify-content-center")
            div(class="col-lg-8")
                div(class="section-tittle text-center")
                    h3 Member Programs
                    p(class="section-tittle--max pb-30") After becoming a member, choose to continue your journey with one of our Hybrid Programs.
        div(class="row justify-content-center")
            div(class="col-lg-5")
                div(class="single-do text-center mb-30")
                    a(class="single-do-link" href="./orientation")
                        div(class="do-icon")
                            span(class="flaticon-medal")
                        div(class="do-caption")
                            h4 Hybrid Envoys
                            p Join a localized guild of 50 Envoys. Rank up and pursue merit badges in our youth development program designed for the digital generation.
                        div(class="do-btn")
                            i(class="ti-arrow-right")
                            | learn more
            div(class="col-lg-5")
                div(class="single-do text-center mb-30")
                    a(class="single-do-link" href="./camps")
                        div(class="do-icon")
                            span(class="flaticon-fire")
                        div(class="do-caption")
                            h4 Hybrid Camps
                            p Social development meets gameplay. Learn healthy habits, conflict management, and team building with your camp counselor.
                        div(class="do-btn")
                            i(class="ti-arrow-right") 
                            | learn more