div(class="what-we-do create-padding")
    div(class="container")
        div(class="row d-flex justify-content-center")
            div(class="col-lg-8")
                div(class="section-tittle text-center mb-30")
                    h3 Programs
        div(class="row justify-content-center")
            div(class="col-lg-4 col-md-6")
                div(class="single-do text-center pb-30")
                    a(class="single-do-link" href="./camps")
                        div(class="do-icon")
                            span(class="flaticon-campus")
                        div(class="do-caption")
                            h4 Hybrid Campus
                            p A better community for gamers. For gamers who want a community built for them.
                        ul(class="unordered-list")
                            li Hybrids-only
                            li Adult-monitored by background-checked staff
                            li Events, tournaments and giveaways
                            li Join a House, earn points and win House Medals (like the golden globes, but for Hybrids)
                            li All online. Open for ages 13-17
                        h4 Free!
                        div(class="do-btn")
                            i(class="ti-arrow-right") 
                            | Join Now
            div(class="col-lg-4 col-md-6")
                div(class="single-do text-center mb-30")
                    a(class="single-do-link" href="./camps")
                        div(class="do-icon")
                            span(class="flaticon-fire")
                        div(class="do-caption")
                            h4 Hybrid Camps
                            p Gaming and fitness, 5 days a week. For gamers who want something fun, social, and live!
                        ul(class="unordered-list")
                            li Includes Hybrid Campus
                            li All online
                            li One week, Monday-Friday, 3 hours per day
                            li Counselor-led gaming and fitness, live!
                            li Add structure and exercise to your day
                            li Meet new people to socialize and play with
                            li Healthy, positive role models
                            li Summer Camps open now for ages 13-17
                        h4 $150 per week
                        div(class="do-btn")
                            | Coming Soon                          
            div(class="col-lg-4 col-md-6")
                div(class="single-do text-center mb-30")
                    a(class="single-do-link" href="./orientation")
                        div(class="do-icon")
                            span(class="flaticon-medal")
                        div(class="do-caption")
                            h4 Hybrid Envoys
                            p "Like the Scouts for gamers". For in-game leaders who want to become their best selves; online and off.
                        ul(class="unordered-list")
                            li Includes Hybrid Campus
                            li Personal development, digital literacy and life skills
                            li Earn badges in the 6 Hybrid-defining categories
                            li Rank up to become an esteemed 'Platinum Hybrid'.
                            li Join a guild and create a culture all your own
                            li Take on "Boss challenges" and win parts towards your own gaming PC
                            li Early Registration open now (ages 13-17)
                            li Looks great on applications to colleges, internships, jobs, and gaming orgs!
                        h4 $300 per season
                        div(class="do-btn")
                            | Coming Soon                        