div(class="testimonial-area create-padding")
  div(class="container")
    div(class="testimonial-main")
      div(class="row d-flex justify-content-center")
        div(class="col-lg-5 col-md-8 pr-0")
          div(class="section-tittle text-center")
            h3(class="pb-30") What families are saying:
      div(class="row d-flex justify-content-center")
        div(class="col-lg-7 col-md-9")
          div(class="h1-testimonial-active")
            div(class="single-testimonial")
              div(class="testimonial-caption ")
                div(class="testimonial-top-cap")
                  p 
                    | [Staff] was very kind and did a great job. I value kindness and respectful people more than anything else. Thanks for keeping my kid safe & happy!</p>
                  div(class="testimonial-founder d-flex align-items-center justify-content-center")
                    div(class="founder-img")
                    div(class="founder-text")
                      span 
                        | — Parent
            div(class="single-testimonial")
              div(class="testimonial-caption")
                div(class="testimonial-top-cap")
                  p 
                    | My eldest child learned that cooperative games, like League of Legends, are exciting and fun to work together. My younger child learned how to handle online communication in a safe environment.</p>
                  div(class="testimonial-founder d-flex align-items-center justify-content-center")
                    div(class="founder-img")
                    div(class="founder-text")
                      span
                        | — Parent
            div(class="single-testimonial")
              div(class="testimonial-caption")
                div(class="testimonial-top-cap")
                  p 
                    | I've been eating a lot better, I've been taking breaks regularly, my health has improved significantly, and my gameplay is noticeably better than its been in months.</p>
                  div(class="testimonial-founder d-flex align-items-center justify-content-center")
                    div(class="founder-img")
                    div(class="founder-text")
                      span 
                        | — Hybrid
            div(class="single-testimonial")
                div(class="testimonial-caption")
                  div(class="testimonial-top-cap")
                    p 
                      | I love the social aspect, meeting new people, finding new people you can relate to within the gaming community. The teachers are very laid back, it doesn't feel like you're being coached or taught, it feels like you're getting advice from a friend and I really like that. And someone is there supporting me throughout the whole experience.</p>
                  div(class="testimonial-founder d-flex align-items-center justify-content-center")
                    div(class="founder-img")
                    div(class="founder-text")
                      span 
                        | — Hybrid
            div(class="single-testimonial")
                div(class="testimonial-caption ")
                  div(class="testimonial-top-cap")
                      p During the pandemic parents need to work remotely and the kids needs to be preoccupied somehow. Hybrid helps kids stay healthy and active.
                  div(class="testimonial-founder d-flex align-items-center justify-content-center")
                    div(class="founder-img")
                    div(class="founder-text")
                      span 
                        | — Hybrid