div(class="we-create-area pb-125")
 div(class="container")
  div(class="row d-flex justify-content-center align-items-center")
   div(class="col-lg-6 col-md-12")
    div(class="we-create-img")
     img(src="assets/img/hero/hybrid.png" alt="")
   div(class="col-lg-6 col-md-12")
    div(class="we-create-cap")
      h3 Training the next <br>generation of gamers
      p By age 13, over 70% of kids in America own their own smartphone and screen 
        | use is only going up [source]. Hybrid provides mentorship and education 
        | for youth so they can become responsible, healthy leaders of the next generation. 