div(class="we-create-area pb-125")
 div(class="container")
  div(class="row d-flex justify-content-center align-items-center")
   div(class="col-lg-5 col-md-12")
    div(class="we-create-img")
     img(src="assets/img/hero/hybrid.png" alt="")
   div(class="col-lg-5 col-md-12")
    div(class="we-create-cap")
      h3 Training the next <br>generation of gamers
      p.do-btn By age 13, over 70% of kids in the U.S. own their own smartphone and screen 
        | use is only going up 
        a(target="_blank" href="https://www.commonsensemedia.org/sites/default/files/uploads/research/2019-census-8-to-18-full-report-updated.pdf") [1]
        | . Hybrid provides mentorship and education 
        | for youth so they can become responsible, healthy leaders of the next generation.