
// what we will do start
.choose-best{
    .we-create-img{
        img{
            width: 100%;
            @media #{$lg}{
              padding-top: 30px;
          }
        }
    }
    //shape // left shape
    position: relative;
    padding-bottom: 100px;
    & .container {
        background: $section_bg;
        padding-top: 100px;    
    }

    .section-caption {
        margin-bottom: 20px;
    }

    &::before{
        background-image: url(../img/shape/choose_your.png);
        position: absolute;
        content: "";
        z-index: -1;
        background-repeat: no-repeat;
        right: 0px;
        width: 511px;
        height: 971px;
        bottom: -85px;
        @media #{$md}{
            display: none;
        }
        @media #{$sm}{
            display: none;
        }
        @media #{$xs}{
            display: none;
        }
    }
    // 
    &::after{
        background-image: url(../img/shape/plus2.png);
        position: absolute;
        content: "";
        z-index: -1;
        min-height: 20px;
        min-width: 20px;
        background-repeat: no-repeat;
        left: 100px;
        bottom: 0;
        @media #{$laptop}{
            display: none;
        } 
        @media #{$md}{
            display: none;
        }
         @media #{$sm}{
            display: none;
        }
        
        @media #{$xs}{
            display: none;
        }
        // bonce
        animation: heartbeat 1s infinite alternate;
        @-webkit-keyframes heartbeat {
            to {
                -webkit-transform: scale(1.5);
                transform: scale(1.5);
            }
        }
    } 
    .single-choose{
        @include transition(.3s);
        padding: 56px 40px 69px;
        border: 1px solid #ececec;
        border-radius: 6px;
        background: #fff;
        .do-icon{
            span{
                font-size: 73px;
                margin-bottom: 10px;
                display: inline-block;
                color: $theme_color;
            }
        }
        .do-caption{
            h4{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 14px;
                color: $heading-color;
            }
            ul{
                li{
                    
                    color: #57667e;
                    margin-bottom: 17px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                   
                }
            }
        }
    }
    .do-btn{
        padding-bottom: 10px;
        &:last-of-type {
            padding-left: 40px;
        }
        a{
            color: $theme-color;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: 500;
            @include transition(.3s);
            
            i{
                background: $theme-color;
                width: 24px;
                height: 24px;
                display: inline-block;
                line-height: 24px;
                color: #fff;
                border-radius: 50%; 
                margin-right: 7px;
                @include transition(.3s);
            }
        }
    }
}
.do-links {
    padding-bottom: 100px;
}

// what we will do End