footer
  div(class="footer-main" data-background="/assets/img/shape/footer_bg.png")
    div(class="footer-area footer-padding")
      div(class="container")
        div(class="row d-flex justify-content-between")
          div(class="col-md-4 col-sm-12")
            div(class="single-footer-caption")
              div(class="single-footer-caption")
                div(class="footer-logo text-center")
                  a(href="index.html")
                    img(src="/assets/img/logo/hybrid-logo-building-better-gamers.svg" width="175px" alt="")
                div(class="footer-social text-center")
                  a(target="_blank" href="https://www.facebook.com/HybridATX/")
                    i(class="fab fa-facebook-f")
                  a(target="_blank" href="https://twitter.com/HybridATX/")
                    i(class="fab fa-twitter")
                  a(target="_blank" href="https://www.instagram.com/hybrid.atx/")
                    i(class="fa fa-instagram")
          div(class="col-md-2 col-sm-12") 
          div(class="col-md-2 col-sm-12")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4 Programs
                ul
                  li
                    a(href="/hybrid-campus/") Hybrid Campus
                  li
                    a(href="/hybrid-camps/") Hybrid Camps
                  li
                    a(href="/hybrid-envoys/") Hybrid Envoys
          div(class="col-md-2 col-sm-12")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4
                  | Company
                ul
                  li
                    a(href="/mission-vision/")
                      | Mission & Vision                
                  li
                    a(target="_blank" href="https://us18.list-manage.com/contact-form?u=0782e3d46b914bc84ecd04264&form_id=c128bf4c09cb268013db5fdedc429efe")
                      | Contact     
          div(class="col-md-2 col-sm-12")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4
                  | Legal
                ul
                  li
                    a(href="/terms-of-use")
                      | Terms of Use
                  li
                    a(href="/privacy-policy")
                      | Privacy Policy               