	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/01/2021 00:50
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./../fonts/font/flaticon.eot");
  src: url("./../fonts/font/flaticon.eot?#iefix") format("embedded-opentype"),
       url("./../fonts/font/flaticon.woff2") format("woff2"),
       url("./../fonts/font/flaticon.woff") format("woff"),
       url("./../fonts/font/flaticon.ttf") format("truetype"),
       url("./../fonts/font/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./../fonts/font/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 60px;
font-style: normal;
}

.flaticon-medal:before { content: "\f100"; }
.flaticon-mint:before { content: "\f101"; }
.flaticon-rose:before { content: "\f102"; }
.flaticon-frost:before { content: "\f103"; }
.flaticon-smoke:before { content: "\f104"; }
.flaticon-fire:before { content: "\f105"; }