div(class="choose-best create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-12")
        div(class="section-tittle")
          h2(class="text-center") Why Join? (At-a-glance)
          div(class="row d-flex justify-content-center")
            div(class="col-lg-4 col-md-12")
              ul(class="unordered-list")
                li Membership is Free! (Special for 2021!)
                li All online
                li Members only
                li Family-friendly
            div(class="col-lg-4 col-md-12")
              ul(class="unordered-list")
                li Mentor and peer monitored
                li Tournaments & Giveaways
                li Exclusive programs to advance your learning