include ./hero.pug
include ./center1.pug
include ./everyone.pug
include ./diverse.pug
include ./center2.pug
include ./who.pug
include ./glance.pug
include ./adult.pug
include ./tournaments.pug
include ./programs.pug
include ./../haveProject.pug