div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-12")
        div(class="we-create-cap")
          h3 Who are the Hybrids?
          p The Hybrids are members of an online community that's changing the way we interact with the online world. Hybrids are gamers who use the internet to better themselves, foster healthy relationships, and have fun! They are the future leaders of online culture. If the next generation is going to adopt the most powerful tool ever created, shouldn't we teach them how to use it wisely, and lead by example? Don't play with "randoms" online. Join the Hybrids.
      div(class="col-lg-5 col-md-12")
        div(class="we-create-img")
          img(src='./assets/img/shape/hybrids.svg' alt="")