doctype html
html
  include ./head.pug
  body
    include ./preloader.pug
    include ./header.pug
    main
      div(class="services-area")
        div(class="container")
          div(class="row d-flex justify-content-center")
            div(class="col-lg-8")
              div(class="section-tittle text-center mb-80")
                h2 Contact Us​
    include ./footer.pug
    include ./scripts.pug