footer
  div(class="footer-main" data-background="assets/img/shape/footer_bg.png")
    div(class="footer-area footer-padding")
      div(class="container")
        div(class="row d-flex justify-content-between")
          div(class="col-lg-3 col-md-4 col-sm-8")
            div(class="single-footer-caption")
              div(class="single-footer-caption")
                div(class="footer-logo text-center")
                  a(href="index.html")
                    img(src="assets/img/logo/hybrid-logo.png" width="175px" alt="")
                div(class="footer-social text-center")
                  a(href="#")
                    i(class="fab fa-facebook-f")
                  a(href="#")
                    i(class="fab fa-twitter")
                  a(href="#")
                    i(class="fas fa-globe")
                  a(href="#")
                    i(class="fab fa-behance")
          div(class="col-lg-2 col-md-4 col-sm-5")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4 Membership
                ul
                  li
                    a(href="about.html")
                      | Orientation
                  li
                    a(href="about.html")
                      | Member Benefits
                  li
                    a(href="about.html")
                      | FAQ
          div(class="col-lg-2 col-md-4 col-sm-5")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4 Programs
                ul
                  li
                    a(href="about.html") Hybrid Envoys
                  li
                    a(href="about.html") Camps
          div(class="col-lg-2 col-md-4 col-sm-7")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4
                  | Company
                ul
                  li
                    a(href="#")
                      | Mission & Vision
          div(class="col-lg-3 col-md-4 col-sm-5")
            div(class="single-footer-caption mb-50")
              div(class="footer-tittle")
                h4
                  | Legal
                ul
                  li
                    a(href="#")
                      | Terms of Use
                  li
                    a(href="#")
                      | Privacy Policy