header
  div(class="header-area header-transparrent")
    div(class="main-header header-sticky")
      div(class="container")
        div(class="row align-items-center")
          div(class="col-xl-2 col-lg-2 col-md-1")
            div(class="logo")
              a(href="index.html")
                img(src="assets/img/logo/hybrid-logo2.png" width="150px" alt="")
          div(class="col-xl-8 col-lg-8 col-md-8")
            div(class="main-menu f-right d-none d-lg-block")
              nav
                ul(id="navigation")
                  li
                    | Membership
                    ul(class="submenu")
                      li
                        a(href="orientation.html") Orientation
                      li
                        a(href="member-benefits.html") Member Benefits
                      li
                        a(href="contact.html") FAQ
                  li 
                    a(href="about.html") Programs
                    ul(class="submenu")
                      li
                        a(href="services.html") Hybrid Envoys
                      li
                        a(href="contact.html") Camps
                  li
                    a(href="services.html") Company
                    ul(class="submenu")
                      li
                        a(href="blog.html") Mission & Vision
                      li
                        a(href="blog.html") My Account
          div(class="col-xl-2 col-lg-2 col-md-3")
            div(class="header-right-btn f-right d-none d-lg-block")
              a(href="#" class="btn header-btn") Join
          div(class="col-12")
            div(class="mobile_menu d-block d-lg-none")