doctype html
html
  include ./head.pug
  body
    include ./preloader.pug
    include ./header.pug
    main
      include ./member-benefits/index.pug
    include ./footer.pug
    include ./scripts.pug