div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img d-none d-lg-block side-img--max")
          img(src='/assets/img/shape/blob.svg' alt="")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-cap")
          h3 Gaming brings us together
          p We believe gaming, used appropriately, can be an incredible tool for learning, creative expression, social interaction, competition, entertainment and story-telling. And with so many games in so many genres, there’s a lot more to it than just the trendy game everyone is playing right now. So we built Hybrid to give kids a safe place to participate in their favorite pastime.        