div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img")
          img(class="mw-500" src='/assets/img/hero/programs.svg' alt="")
      div(class="col-lg-5 col-md-10")
          h3 Youth Development Programs
          div(class="pb-30")
            p For some, gaming is more than just a pastime. That's why we created the Hybrid Envoys. The next leaders of the industry.
            div(class="do-links")
              div(class="do-btn")
                a(href="/hybrid-envoys/")
                  i(class="ti-arrow-right") 
                  | Learn more about Envoys
          div(class="pb-30")
            p Want something more structured? Sign up for a week-long summer camp!
            div(class="do-links")
              div(class="do-btn")
                a(href="/camps/")
                  i(class="ti-arrow-right")
                  | Learn more about Camps