div(class="what-we-do create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-cap")
          h3 Tournaments and Events
          p Gaming and competition go hand in hand. Tournaments and prizes are open to all Hybrids who wish to participate! But competition is just one part of gaming. We will also host watch parties for Hybrid-approved streamers, have casual events like Minecraft build offs, and so much more!
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img side-img--max")
          img(src="/assets/img/hero/trophy.svg" alt="")