div(class="choose-best create-padding we-create")
  div(class="we-create-area create-padding")
    div(class="container")
      div(class="row d-flex justify-content-center align-items-center")
        div(class="col-lg-5 col-md-12")
          div(class="we-create-cap")
            h3 Founder Bios
            p Sam, the founder of Hybrid, is a teacher, athlete, and life-long gamer. In fact, the name Hybrid was born from his days as a Twitch streamer. He called himself the first Hybrid, a gamer but also an athlete. A tech kid, but also a lifelong human wellness advocate. The kind of guy who chooses a standing desk over a "gamer chair". (P.S. gamers don't need special chairs). 
              div(class="do-links")
                div(class="do-btn")
                  a(href="/hybrid-envoys/")
                    i(class="ti-arrow-right") 
                    | Learn more about Sam
        div(class="col-lg-5 col-md-12")
          div(class="we-create-img side-img--max")
            img(src='/assets/img/shape/hybrids.svg' alt="")