div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-cap")
          p Almost all kids play video games. The truth is, we're all gamers. We want to show that being a gamer doesn't have to come with all the old, outdated stigma. 16 hours locked in a dark room, yelling at strangers online shouldn't be a normalized part of the experience. Candy, chips and energy drinks shouldn't be the prescribed diet given to our kids by advertisers the first time they pick up a controller.
          p It's time for change.
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img side-img--max")
          img(src='/assets/img/svg/kids-high-five.svg' alt="")