div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-12")
        div(class="we-create-cap")
          h3 Hybrid's Mission
          p Build a gaming brand that changes the paradigm of the industry and positively influences the lives of gamers.
          p Gaming culture, as it exists today, is in need of a complete overhaul. Hybrid does gaming better. We creates products, services and content that are designed to change the way we think about the world of gaming, and how that world influences its inhabitants. Whether you're a gamer for a year or a gamer for life, Hybrid wants to help you be your best self. Online and off. 
      div(class="col-lg-5 col-md-12")
        div(class="we-create-img side-img--max")
          img(src='/assets/img/shape/hybrids.svg' alt="")