div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-md-8")
        div(class="we-create-cap")
          h3 Hybrid's Vision:
          p To improve society by inspiring our youth to live lives of complete wellness.
          p Hybrid is not a tech camp or a STEM camp. Hybrid is a youth development company that helps gamers become better people, for now and for the future. We believe the best way to have a positive impact is to meet them where they are. In 2021, that means digital spaces. 