doctype html
html
  include ../includes/head.pug
  body
    include ../includes/preloader.pug
    include ../includes/header.pug
    main
      div(class="services-area")
        div(class="container")
          div(class="row d-flex justify-content-center")
            div(class="col-lg-8")
              div(class="section-tittle text-center mb-80")
                h2 Contact Us​
    include ../includes/footer.pug
    include ../includes/scripts.pug