div
  div(class="slider-area slider-area--coming-soon slider-area--padding d-flex align-items-center")
      div(class="container")
          div(class="row d-flex align-items-center justify-content-center")
              div(class="col-lg-6 col-md-9")
                  div(class="hero__caption")
                      h1(data-animation="fadeInLeft" data-delay=".4s") 
                          | Opening soon for early registration
                      p Our Hybrid Envoys and Camps programs are in the process of being rolled out. Stay tuned for updates via our mailing list below!
                  div(class="hero__btn" data-animation="fadeInLeft" data-delay=".8s")
              div(class="col-lg-6")
                  div(class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s")
                      img(src="/assets/img/hero/puzzle.svg" alt="")