div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-12")
        div(class="we-create-cap")
          h3 Orientation Overview
          p
            | Learn what it means to be a Hybrid. Here, students will learn the importance of physical, social, and emotional wellness, expand their gaming horizons, play games with other new members and orientation mentors, and get to know our rules and expectations. This sets the groundwork for all students and gets everyone on the same page from day one. Later, when they join the larger community as a member, they'll be ready!
          a(href="#" class="btn")
            | Let's get started!
      div(class="col-lg-5 col-md-12")
        div(class="we-create-img")
          img(src="./assets/img/hero/building-better-gamers.png" alt="")