div(class="we-create-area orientation-requirements")
  div(class="container")
    div(class="row d-flex justify-content-center")
      div(class="col-lg-5 col-md-12")
        div(class="we-create-cap")
          h3 Pricing
          p
            | Orientation is a one-time, flat rate fee of $75 per student. After orientation is over, there will be no additional charges. Although we offer some incredible paid programs, our mission is to help create a better internet. We believe that starts with our kids. So to reduce as many barriers as possible, Hybrid membership is completely free after orientation! It should be easy to find a safe, friendly online space, and we hope that those values spread to the rest of the internet too.
          h3 Orientation Dates
          p We run an orientation every 3rd week of the month, from 5:30pm-7:00pm central time. (3:30pm pacific, 6:30pm eastern).
            ul(class="unordered-list")
              h5 Winter Dates:
              li February: 15th-19th
            ul(class="unordered-list")
              h5 Spring Dates:
              li March: 15th-19th (AISD Spring Break)
              li April: 19th-23rd
              li May: 17th-21st
            ul(class="unordered-list")
              h5 Summer and Fall Dates TBA
      div(class="col-lg-5 col-md-12 we-create-cap")
        h3 Sample Day
        ul(class="timeline")
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-hands-helping")
              h4 5:30 - 5:45pm: Stand Up
            p(class="timeline-p") Students check-in and build connections between other new students and their mentor.
          
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fas fa-apple-alt")
              h4 5:45-6:00pm: Gaming Education
            p(class="timeline-p") With so many games across so many genres, we believe there's a lot more to gaming than just the latest trend. So every day, students are introduced to a different game, learning a new set of skills and experiencing a new part of their favorite hobby.
          
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-gamepad")
              h4 6:00-6:45pm: Gameplay
            p(class="timeline-p") With your class and mentor, learn new games first hand, or switch over to your favorite title!
          
          li(class="timeline-list")
            div(class="time-list-container d-flex align-items-center")
              i(class="fa fa-heart")
              h4 6:45-7:00pm Health Education
            p(class="timeline-p") The days of the "stereotypical" gamer are over. As a Hybrid, we learn to balance our online and offline life, and we learn how to take care of our bodies, minds, and relationships.

div(class="choose-best create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-12")
        div(class="section-tittle")
          h2 Requirements
          div(class="row d-flex justify-content-center")
            div(class="col-lg-5 col-md-12")
              ul(class="unordered-list")
                li Orientation is all online, via Discord! Discord is a free service, and requires an account to login. Students should have an account made prior to the start of their orientation week.
                li Quiet learning environment with no distractions
                li Consistently reliable internet connection
            div(class="col-lg-5 col-md-12")
              ul(class="unordered-list")
                li Computer with a webcam and microphone
                li OS recommendations: As a general rule, gaming is better on Windows computers. Although orientation is possible on Apple computers, we recommend Windows 7, 8, or 10 for the best experience across multiple titles.
                li PC specification recommendations: We use the Minecraft recommendations as a baseline. [click here]