div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img side-img--max")
          img(src="/assets/img/hero/adult2.svg" alt="")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-cap")
          h3 Adult-moderated <br/>online environment
          p They say it takes a village. That's even more true when you bring the internet into the mix. Hybrid Campus is members-only, family-friendly, and monitored by background-checked staff who ensure a healthy community environment. This is not a "public" community that anyone can get into. Every student has registered and is aware of our rules and expectations, and our staff makes sure they're staying within these guidelines while still allowing them the freedom to express themselves and have fun. We collect parent contact info at sign-up in case we do need to contact parents, and we can temporarily restrict access or even remove students entirely as a last resort. We can't catch everything, but when they're with Hybrids, peace of mind comes easier.