div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img d-none d-lg-block side-img--max")
          img(src='/assets/img/svg/kids-high-five.svg' alt="")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-cap")
          h3 Gaming brings us together.
          p  We believe gaming is for everyone. So we built Hybrid to give teens a welcoming, healthy community to make new friends and help each other grow. Inside the gaming world and out. Completely free.