div(class="choose-best create-padding we-create")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-12 col-md-5")
        div(class="section-tittle")
          h3(class="text-center mb-10") Why Join?
          h3(class="text-center mb-40") (At-a-glance)
          div(class="row d-flex justify-content-center")
            div(class="col-lg-3 col-md-12")
              ul(class="unordered-list")
                li All online
                li Members only
                li Mentor and peer monitored
            div(class="col-lg-3 col-md-12")
              ul(class="unordered-list")
                li Events and tournaments
                li First access to programs
                li Join a house and earn prestige (coming soon)
          h5(class="text-center pt-20 pb-20") 
            <br>☆ Membership is Free! ☆ 