div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-10")
        div(class="we-create-img")
          img(class="mw-500" src='/assets/img/hero/programs.svg' alt="")
      div(class="col-lg-5 col-md-10")
          h3 First Access to Hybrid Programs
          p Get notified before anyone else, so you'll always get your seat. 
          div(class="pb-30")
            p Want something more structured? Gaming and fitness, 5 days a week.
            div(class="do-links")
              div(class="do-btn")
                a(href="/hybrid-envoys/")
                  i(class="ti-arrow-right") 
                  | Learn more about Camps
          div(class="pb-30")
            p Personal development, digital literacy and life skills. The Hybrid Envoys. The next leaders of the industry.
            div(class="do-links")
              div(class="do-btn")
                a(href="/camps/")
                  i(class="ti-arrow-right")
                  | Learn more about Envoys