div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-6 col-md-12 d-flex")
        ul(class="unordered-list unordered-list--svg align-items-center")
          li
            img(src="/assets/img/svg/mint.svg")
            h4 House of Mint
          li
            img(src="/assets/img/svg/rose.svg")
            h4 House of Rose
          li
            img(src="/assets/img/svg/frost.svg")
            h4 House of Frost
          li
            img(src="/assets/img/svg/ash.svg")
            h4 House of Ash
      div(class="col-lg-6 col-md-12")
        div(class="we-create-cap")
          h3 Find your Tribe
          p The next generation is the first truly digital generation; they'll spend more time online than off. For most, their online journey begins with video games. That's where we come in: we provide early mentorship to produce better digital citizens for a better online world.