div(class="we-create-area create-padding")
  div(class="container")
    div(class="row d-flex justify-content-center align-items-center")
      div(class="col-lg-5 col-md-12")
        div(class="we-create-cap")
          h3 Who are the Hybrids?
          p We're all gamers. Whether we're on top of the leaderboard, building virtual skyscrapers, or getting lost in the story, we can all find a place in this new medium. Gaming helps break down barriers and forge friendships. Hybrids embrace the power of gaming to better themselves, foster healthy relationships, and have fun! They use gaming to express themselves and become leaders. You don't have to play with "randoms" online. This is your invitation to the Hybrids.
          a(target="_blank" href="https://campscui.active.com/orgs/HybridLLC?orglink=camps-registration" class="btn")
            | Join
      div(class="col-lg-5 col-md-12")
        div(class="we-create-img side-img--max")
          img(src='/assets/img/shape/hybrids.svg' alt="")