script(src="./assets/js/vendor/modernizr-3.5.0.min.js")
script(src="./assets/js/popper.min.js")
script(src="./assets/js/bootstrap.min.js")

script(src="./assets/js/jquery.slicknav.min.js")

script(src="./assets/js/owl.carousel.min.js")
script(src="./assets/js/slick.min.js")

script(src="./assets/js/gijgo.min.js")

script(src="./assets/js/wow.min.js")
script(src="./assets/js/animated.headline.js")
script(src="./assets/js/jquery.magnific-popup.js")

script(src="./assets/js/jquery.scrollUp.min.js")
script(src="./assets/js/jquery.nice-select.min.js")
script(src="./assets/js/jquery.sticky.js")

script(src="./assets/js/contact.js")
script(src="./assets/js/jquery.form.js")
script(src="./assets/js/jquery.validate.min.js")
script(src="./assets/js/mail-script.js")

script(src="./assets/js/plugins.js")
script(src="./assets/js/main.js")